.camera-card{

background:#18211d;

border:1px solid #284233;

border-radius:12px;

margin-top:30px;

overflow:hidden;

box-shadow:0 0 20px rgba(0,0,0,.25);

}

.camera-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 25px;

border-bottom:1px solid #284233;

}

.camera-title{

display:flex;

align-items:center;

gap:12px;

font-size:18px;

font-weight:700;

color:#66ff99;

letter-spacing:1px;

}

.camera-right{

display:flex;

align-items:center;

gap:18px;

}

.live-status{

display:flex;

align-items:center;

gap:8px;

color:#52ff86;

font-size:13px;

font-weight:700;

}

.live-status svg{

font-size:10px;

animation:blink 1s infinite;

}

@keyframes blink{

0%{

opacity:1;

}

50%{

opacity:.2;

}

100%{

opacity:1;

}

}

.expand{

cursor:pointer;

font-size:18px;

color:white;

}

.camera-screen{

background:black;

}

.camera-screen img{

width:100%;

display:block;

}

.camera-footer{

display:flex;

justify-content:space-between;

padding:18px 25px;

color:#a5b6aa;

font-size:14px;

}

.camera-footer strong{

display:block;

margin-top:5px;

color:white;

font-size:15px;

}